* *::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --blue-dark: oklch(16.43% 0.02019 265.766);
    --blue-normal: oklch(44.291% 0.18106 262.657);
    --blue-light: oklch(0.9503 0.0392 214.52);
}

header h1 {
    text-align: center;
    font-size: 25px;
    background-color: var(--blue-light);
}

.active {
    border-bottom: var(--blue-normal) solid 2px;
}

.header-page-name {
    padding: 1em;
}

.header-page-name, nav ul li {
    text-transform: uppercase;
}

body {
    background-color: white;
    font-family: "Playpen Sans", cursive;
    color: var(--blue-normal);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0 auto;
    background-image: url("/css/images/background.png");
    background-size: cover;
    background-color: lightblue;
}

.icon {
    color: var(--blue-normal);
    width: 40px;
    height: 40px;
}

.nav-icon {
    width: 20px;
    height: 20px;
}

nav {
    text-transform: capitalize;
    background-color: white;
    border: dashed var(--blue-light) 5px;
    border-left: none;
    border-right: none;

    a:link {text-decoration: none;}
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1em;
    justify-content: center;
    font-size: 15px;
}

main {
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: var(--blue-normal) 7px 7px 7px;
    margin: 2em 4em;
    padding: 2em;
    min-height: 150px;
    border-radius: 5px;
}

.notify-card {
    text-align: center;
    height: fit-content;
    background-color: white;
    box-shadow: var(--blue-normal) 7px 7px 7px;
    padding: 2em;
    border-radius: 5px;
}

footer {
    margin-top: auto;
    background-color: white;
    padding: 1em;
    text-align: center;
    border-top: dashed var(--blue-light) 5px;
    border-bottom: dashed var(--blue-light) 5px;
}

a:link {
    color: var(--blue-normal);
    transition: opacity 0.3s ease, color 0.3s ease;
}

a:visited {
    color: var(--blue-dark);
}

a:hover {
    opacity: 50%;
    color: var(--blue-normal);
}

a:active {
    color: var(--blue-dark);
}